<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'About Me', about_path %>
          </li>
          <li>
            <%= link_to 'Our Team', team_path %>
          </li>
          <li>
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li>
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li>
            <%= link_to 'Blog', blog_path %>
          </li>
          <li>
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
  <div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

					</div>
				</div>

			<!-- Intro -->
				<div id="intro-wrapper" class="wrapper style1">
					<section id="intro" class="container" style="margin-top:-5%;">

            <br>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1 style="font-size: 30px;">Mission Statement</h1>
                </br>
                  <p class="style1">Heart Over Height Training is an organization that strives to improve the overall health and fitness of athletes, as well as to enhance and develop the skills necessary to become the best in the game. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h1 style="font-size: 30px;">Strategy</h1>
                  </br>
                  <p class="style1">Heart Over Height trainers have not only experienced higher levels of training and competition in their respective sports, but they have also taken the time to carefully study every aspect of the game so that they can provide the highest quality of training. As a team, we work together to create a well-rounded training program that ensures success when that hard work is reciprocated by the client. </p>
                </div>
                <div class="col-sm-4">
                  <div style="margin-left:-5%;">
                    <iframe class="mobile-video" src="https://www.youtube.com/embed/_RqtJ9h8uDI" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h1 style="font-size: 30px;">Our Vision</h1>
                  </br>
                  <p class="style1 our-vision">Heart Over Height Training uses imagery, motivation, and sports psychology to cater to the needs of young athletes and to not only improve physical strength, but mental strength as well. Our goal is to fine-tune each athlete’s skills through weight training, speed, and agility drills, while also building the confidence needed for success on and off the court. </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h1 style="font-size: 30px;"><i>"Fall In Love With The Process & The Results Will Come"</i></h1>
                </div>
              </div>
            </div>
					</section>
				</div>


			<!-- Highlights -->

    </div>
</div>
<!-- Footer -->
      <div id="footer-wrapper" class="wrapper">
        <div class="title">Contact</div>
        <div id="footer" class="container">
          <div class="row 150%">
            <div class="12u 12u(mobile)">

              <!-- Contact -->
                <section class="feature-list small">
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-home">Mailing Address</h3>
                        <p>
                          511 W. Kings Hwy<br />
                          Heart Over Height Training<br />
                          San Antonio, Texas 78212
                        </p>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-comment">Social</h3>
                        <p style="text-align:left;">
                          <div id="twitter-timeline" style="max-height:300px;max-width:300px;overflow: scroll;">
                            <a class="twitter-timeline" href="https://twitter.com/ezgarcia10" data-width="300px">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
                        </p>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-envelope">Email</h3>
                        <p>
                          <%= mail_to('ezghoht@gmail.com') %>
                        </p>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-phone">Phone</h3>
                        <p>
                          Business: (210) 445-9121
                        </p>
                      </section>
                    </div>
                  </div>
                </section>
            </div>
          </div>
          <hr />
        </div>
        <div id="copyright">
          <ul>
            <li>&copy; Heart Over Height Training</li>
          </ul>
        </div>
      </div>
		</div>
