<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'About Me', about_path %>
          </li>
          <li>
            <%= link_to 'Our Team', team_path %>
          </li>
          <li class="active">
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li>
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li>
            <%= link_to 'Blog', blog_path %>
          </li>
          <li>
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style1">
					<div id="main" class="container">
						<!-- Content -->
							<div id="content">
								<article class="box post">
                  <br>
                  <div class="container">
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("amber.jpg", class: "amber-ramirez-pic") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Amber Ramirez</b>
                          </br>
                          Age: 19
                          </br>
                          Height: 5'9
                          </br>
                          Position: Guard
                          </br>
                          High School: Karen Wagner San Antonio '16
                          </br>
                          AAU: SA Finest
                          </br>
                          College: Texas Christian University '20
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                            <div id="twitter-tweet">
                              <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">From WWWAAAYYY downtown! <a href="https://twitter.com/yungram_">@yungram_</a> is heating up 🔥🔥🔥 and the Frogs lead by seven nearing halftime in Fort Worth! <a href="https://twitter.com/hashtag/CLIMB?src=hash">#CLIMB</a> <a href="https://t.co/mvAdFSrIcI">pic.twitter.com/mvAdFSrIcI</a></p>&mdash; TCU WomensBasketball (@TCUWbasketball) <a href="https://twitter.com/TCUWbasketball/status/804031677894893568">November 30, 2016</a></blockquote>
                            </div>
                          <iframe class="youtube-video" src="https://www.youtube.com/embed/dj6zcLwaniY" frameborder="0" allowfullscreen></iframe>
                          <iframe class="youtube-video" src="https://www.youtube.com/embed/mrzSlzLKQkw" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%; text-align:center;">
                            <%= image_tag("leslie.jpeg", style: "width:220px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Leslie Vorpahl</b>
                          </br>
                          Age: 22
                          </br>
                          Height: 5'6
                          </br>
                          Position: PG/SG
                          </br>
                          High School: Winston Churchill San Antonio '13
                          </br>
                          AAU: SA Heat
                          </br>
                          College: Tulane University '17
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Solid work put in this summer with <a href="https://twitter.com/LeslieVorpahl">@LeslieVorpahl</a> . Good player, great leader, even better person! <a href="https://twitter.com/hashtag/Tulane?src=hash">#Tulane</a> <a href="https://twitter.com/hashtag/PG?src=hash">#PG</a> <a href="https://t.co/IFhhLWNoDH">pic.twitter.com/IFhhLWNoDH</a></p>&mdash; EZ Garcia (@ezgarcia10) <a href="https://twitter.com/ezgarcia10/status/775425221578764288">September 12, 2016</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("ashleyroser.jpg", style: "width:220px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Ashley Roser</b>
                          </br>
                          Age: 25
                          </br>
                          Height: 5'11
                          </br>
                          Position: Guard/Wing
                          </br>
                          High School: Camden HS (Taberg, New York)
                          </br>
                          College: Wells College
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <iframe width="400px" height="250px" src="https://www.youtube.com/embed/Ii7brpFj4Ag" frameborder="0" allowfullscreen></iframe>
                            <p><i>
                              <a href="http://www.neacsports.com/sports/wbkb/2013-14/releases/14-02-13_WEL_Roser_All-Time_NEAC_Scoring_Leader" target="_blank">Ashley Roser Breaks NEAC All-Time Career Points Record</a>
                            </i></p>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("TorresAlexia.jpg", style: "width:220px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Alexia Torres</b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'4
                          </br>
                          Position: Point Guard
                          </br>
                          High School: Incarnate Word San Antonio '16
                          </br>
                          AAU: SA Islanders
                          </br>
                          College: St. Mary's University '20
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <iframe width="400px" height="250px" src="https://www.youtube.com/embed/ddVbI_GpNfk" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("GabbyConally.jpg", style: "width:220px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Gabby Connally </b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'7
                          </br>
                          Position: Guard
                          </br>
                          High School: Brandeis San Antonio '17
                          </br>
                          AAU: Team Xpress Clarissa Davis
                          </br>
                          College: Georgia University '20
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Committed to Georgia University w/ a full ride &amp; still in gym on a Sunday till 10:30pm working! Earn ya keeps. <a href="https://twitter.com/hashtag/HOHT?src=hash">#HOHT</a> <a href="https://t.co/5pyL9CV1Lv">pic.twitter.com/5pyL9CV1Lv</a></p>&mdash; EZ Garcia (@ezgarcia10) <a href="https://twitter.com/ezgarcia10/status/790570264027209728">October 24, 2016</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("adassckyz.jpg", style: "width:220px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Ashley Adaszczyk</b>
                          </br>
                          Age: 16
                          </br>
                          Height: 5'5
                          </br>
                          Position: Combo Guard
                          </br>
                          High School: Incarnate Word San Antonio '19
                          </br>
                          AAU: AAU: Team Xpress Clarissa Davis
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <iframe class="youtube-video" src="https://www.youtube.com/embed/7hDMBWFErRY" frameborder="0" allowfullscreen></iframe>
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="hu" dir="ltr">Follow on IG: ezgarcia10 <a href="https://t.co/EtMe9iWGdW">pic.twitter.com/EtMe9iWGdW</a></p>&mdash; EZ Garcia (@ezgarcia10) <a href="https://twitter.com/ezgarcia10/status/676880079398436864">December 15, 2015</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("avidal.png", style: "width:220px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Amber Vidal</b>
                          </br>
                          Age: 19
                          </br>
                          Height: 5'6
                          </br>
                          Position: Guard
                          </br>
                          High School: O'Connor San Antonio
                          </br>
                          AAU: SA Finest
                          </br>
                          College: University of Nebraska Omaha
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <iframe class="youtube-video" src="https://www.youtube.com/embed/oH0iKZadX2Q" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("KaseySaldana.jpg", style: "width:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Kasey Saldana</b>
                          </br>
                          Age: 199
                          </br>
                          Height: 5'4
                          </br>
                          Position: Guard
                          </br>
                          High School: O'Connor San Antonio '16
                          </br>
                          AAU: SA Finest
                          </br>
                          College: OLLU (Our Lady of the Lake University) '20
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">S/O to <a href="https://twitter.com/kaay_see">@kaay_see</a> for grinding with me this off season. Wishing her the best as she starts her freshman yr <a href="https://twitter.com/OLLUSaints">@OLLUSaints</a> She puts in work! 🏀💪🏽💯 <a href="https://t.co/MmjJfHWvzC">pic.twitter.com/MmjJfHWvzC</a></p>&mdash; EZ Garcia (@ezgarcia10) <a href="https://twitter.com/ezgarcia10/status/782082403606986753">October 1, 2016</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("lizcathcart.png", style: "width:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Liz Cathcart</b>
                          </br>
                          Age: 19
                          </br>
                          Height: 6'0
                          </br>
                          Position: Forward
                          </br>
                          High School: Smithson Valley San Antonio
                          </br>
                          AAU: SA Finest
                          </br>
                          College: Midwestern State
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Got to put in consistent work this summer with <a href="https://twitter.com/LizCathcart43">@LizCathcart43</a> , ready for her comeback season! <a href="https://twitter.com/hashtag/MSU?src=hash">#MSU</a> <a href="https://twitter.com/hashtag/SAFinest?src=hash">#SAFinest</a> <a href="https://t.co/t9esBo52pS">pic.twitter.com/t9esBo52pS</a></p>&mdash; EZ Garcia (@ezgarcia10) <a href="https://twitter.com/ezgarcia10/status/766393536551858176">August 18, 2016</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("HannahM.jpg", style: "width:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Hannah Murray</b>
                          </br>
                          Age: 19
                          </br>
                          Events: 200m, Triple Jump, Long Jump, 4x2 & 4x4 Relay
                          </br>
                          High School: Warren San Antonio
                          </br>
                          AAU: SA Islanders
                          </br>
                          College: The Citadel
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("briannasoliz.jpg", style: "width:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Bri Soliz</b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'11
                          </br>
                          Position: Guard/Forward
                          </br>
                          High School: San Angelo Lakeview '17
                          </br>
                          AAU: SA Islanders
                          </br>
                          College: Signed to St. Edward's University '21
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <iframe class="youtube-video" src="https://www.youtube.com/embed/_Ynz5--Xo4U" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("nataliemccoy.png", style: "width:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Natalie McCoy</b>
                          </br>
                          Age: 17
                          </br>
                          Height: 5'4
                          </br>
                          Position: Guard
                          </br>
                          High School: O'Connor San Antonio '18
                          </br>
                          AAU: SA Finest
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Very proud of <a href="https://twitter.com/TheNatalieMcCoy">@TheNatalieMcCoy</a> &#39;18, she will be ready for her junior year. Hard worker &amp; mentally strong! <a href="https://twitter.com/hashtag/SAFinest?src=hash">#SAFinest</a> <a href="https://t.co/dqdbcMbL0M">pic.twitter.com/dqdbcMbL0M</a></p>&mdash; EZ Garcia (@ezgarcia10) <a href="https://twitter.com/ezgarcia10/status/764922844685832192">August 14, 2016</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("gabbyg.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Gabby Gaskins</b>
                          </br>
                          Age: 12
                          </br>
                          Position: Guard
                          </br>
                          Middle School: Zachary MS San Antonio
                          </br>
                          Class: 7th Grader
                          </br>
                          AAU: Team Element/SA Hoops Elite
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12" style="text-align:center;overflow-y: scroll; height:450px;border-top-style: dotted;">
                          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Few highlights of 12 year old <a href="https://twitter.com/GabrielaGaskins">@GabrielaGaskins</a> leading team to win school tourney. <a href="https://twitter.com/She_Can_Go">@She_Can_Go</a> <a href="https://twitter.com/JorgePe63494286">@JorgePe63494286</a>  <a href="https://twitter.com/ezgarcia10">@ezgarcia10</a>  <a href="https://twitter.com/SAHoopsElite">@SAHoopsElite</a> <a href="https://t.co/LuKJcirbK2">pic.twitter.com/LuKJcirbK2</a></p>&mdash; Robert Gaskins (@robcgaskins) <a href="https://twitter.com/robcgaskins/status/805266804037783552">December 4, 2016</a></blockquote>
                        </div>
                      </div>
                    </div>
                    </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("gallion.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Bianca Gallion</b>
                          </br>
                          Age: 19
                          </br>
                          Position: Guard/ Small Forward
                          </br>
                          High School: O'Connor '16
                          </br>
                          AAU: SA Islanders
                          </br>
                          College: Howard Payne '20
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("april.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>April Matthews</b>
                          </br>
                          Age: 20
                          </br>
                          Position: Guard/ Forward
                          </br>
                          High School: Clark '15
                          </br>
                          AAU: SA Islanders
                          </br>
                          College: Hill Junior College '17
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("kuri1.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Anel Kuri</b>
                          </br>
                          Age: 16
                          </br>
                          Height: 5'10
                          </br>
                          Position: Guard/ Forward
                          </br>
                          AAU: SA Fusion
                          </br>
                          High School: Winston Churchill  '19
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("pena.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Victoria Pena</b>
                          </br>
                          Age: 19
                          </br>
                          Height: 5'6
                          </br>
                          Position: Guard
                          </br>
                          High School: O'Connor '16
                          </br>
                          AAU: SA Islander
                          </br>
                          College: University of Texas Dallas '20
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("cantu.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Karisa Cantu</b>
                          </br>
                          Age: 23
                          </br>
                          Position: Point Guard
                          </br>
                          High School: MacArthur '11
                          </br>
                          AAU: SA Heat
                          </br>
                          College: Texas Lutheran University
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("brooks.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Jordan Brooks</b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'9
                          </br>
                          Position: Guard
                          </br>
                          High School: San Angelo Lakeview '17
                          </br>
                          AAU: SA Islanders
                          </br>
                          College: Converse College '21 (4 Sport Athlete)
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("flores.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Elizabeth Flores</b>
                          </br>
                          Age: 16
                          </br>
                          Height: 5'4
                          </br>
                          Position: Guard
                          </br>
                          High School: Cotulla '19
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("garcia.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Alex Garcia</b>
                          </br>
                          Age: 21
                          </br>
                          Height: 5'7
                          </br>
                          Position: Guard
                          </br>
                          High School: Cotulla '14
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("contreras.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Klaudia Contreras </b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'6
                          </br>
                          Position: Guard
                          </br>
                          High School: Crystal City
                          </br>
                          AAU: SA United
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("marinela.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Marinela CC</b>
                          </br>
                          Age: 16
                          </br>
                          Position: Guard
                          </br>
                          High School: Crystal City
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("gonzales.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Desirae Gonzales</b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'9
                          </br>
                          Position: Guard
                          </br>
                          High School: Laredo Alexander '17
                          </br>
                          AAU: SA Finest
                          </br>
                          College: TAMIU (Texas A&M International) '21
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("bramirez.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Brenden Ramirez</b>
                          </br>
                          Age: 17
                          </br>
                          Height: 5'9
                          </br>
                          Position: Guard
                          </br>
                          High School: Antonian Prep '18
                          </br>
                          AAU: HOHT Brotherhood
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("IzaianJakobeGonzalez.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Izaian Jakobe Gonzalez </b>
                          </br>
                          Age: 12
                          </br>
                          Position: Linebacker/Receiver
                          </br>
                          High School: Medina Valley
                          </br>
                          Columbia Football
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("jramirez.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Jarek Ramirez</b>
                          </br>
                          Age: 16
                          </br>
                          Height: 5'10
                          </br>
                          Position: Guard
                          </br>
                          High School: Cotulla
                          </br>
                          AAU: HOHT Brotherhood
                        </div>
                      </div>
                    </div>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("ruiz.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Alfred Ruiz</b>
                          </br>
                          Age: 18
                          </br>
                          Height: 5'9
                          </br>
                          Position: Guard
                          </br>
                          High School: Crystal City '17
                          </br>
                          AAU: HOHT Brotherhood
                        </div>
                      </div>
                    </div>
                    </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("flowers.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Carlos Flowers</b>
                            </br>
                            Age: 18
                            </br>
                            Height: 6'1
                            </br>
                            Position: Guard
                            </br>
                            High School: Crystal City '17
                            </br>
                            College: Palo Alto College '18
                          </div>
                        </div>
                      </div>
                      </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("econtreras.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Emmanuel Contreras</b>
                            </br>
                            Age: 16
                            </br>
                            Position: Guard
                            </br>
                            High School: Crystal City
                          </div>
                        </div>
                      </div>
                      </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("jvasquez.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Joey Vasquez</b>
                            </br>
                            Age: 18
                            </br>
                            Height: 6'2
                            </br>
                            Position: Guard/Wing
                            </br>
                            High School: Carrizo Springs '17
                          </div>
                        </div>
                      </div>
                      </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("matthews.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Travis Matthews</b>
                            </br>
                            Height: 6'3
                            </br>
                            Position: Guard / Small Forward
                            </br>
                            High School: Clark '14
                            </br>
                            College: (Northlake JC, Newman University)
                          </div>
                        </div>
                      </div>
                      </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("brilanes.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Bri Lanes</b>
                            </br>
                            Height: 5'4
                            </br>
                            Position: Guard
                            </br>
                            High School: Marshall '16
                            </br>
                            AAU: SA Islanders
                            </br>
                            College: Shreiner University '20
                          </div>
                        </div>
                      </div>
                    </br>
                    </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("taramolina.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Tara Molina</b>
                            </br>
                            Height: 5'1
                            </br>
                            Position: Guard
                            </br>
                            High School: Johnson '16
                            </br>
                            AAU: SA Islanders
                            </br>
                            College: Texas Lutheran University '20
                          </div>
                        </div>
                      </div>
                    </br>
                    </br>
                      <div class="athlete-box">
                        <div class="row">
                          <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                              <%= image_tag("kaia.png", style: "height:280px") %>
                          </div>
                          <div class="col-sm-6" style="padding-top:5%;">
                            <b>Kaia Herrera</b>
                            </br>
                            Height: 5'4
                            </br>
                            Position: Guard
                            </br>
                            High School: Brandeis '20
                            </br>
                            AAU: SA Hoops Elite Texas Nation
                          </div>
                        </div>
                      </div>
                    </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("arriana.png", style: "height:180px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Arriana Villa</b>
                          </br>
                          Height: 5'11
                          </br>
                          Position: Guard/Wing
                          </br>
                          High School: Brandeis HS
                          </br>
                          AAU: SA Hoops Elite Texas Nations
                          </br>
                          College: Verbal To Texas Tech University
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("jsimmons.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Josh Simmons</b>
                          </br>
                          Height: 6'6
                          </br>
                          Position: Guard/Forward
                          </br>
                          College: Moorehouse College
                          </br>
                          NABL: San Antonio Aztecs
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("daylonjones.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Daylon Jones</b>
                          </br>
                          Height: 6'
                          </br>
                          Position: Guard
                          </br>
                          High School: Sylvan Hills (North Little Rock, Arkansas)
                          </br>
                          College: Hardin Simmons University
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("titusmims.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Titus Mims</b>
                          </br>
                          Height: 6'8
                          </br>
                          Position: Forward
                          </br>
                          College: Hardin Simmons University
                          </br>
                          Pro: Peru, Mexico
                          </br>
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("erictaylor.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Eric Taylor</b>
                          </br>
                          Height: 6'
                          </br>
                          Position: Guard
                          </br>
                          High School: Duncanville '08
                          College: Hardin Simmons (C Juco)
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("derrickjefferson.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Derrick "DJ" Jefferson</b>
                          </br>
                          Height: 6'5
                          </br>
                          Position: Guard/Small Forward
                          </br>
                          High School: Mesquite '10
                          </br>
                          College: Hardin Simmons University '15
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("ssimmons.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Shakeel Simmons</b>
                          </br>
                          Height: 6'3
                          </br>
                          Position: Guard
                          </br>
                          High School: Our Savior (NYC)
                          </br>
                          College: Wells College '15 (SUNY Delhi)
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("ejvictory.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>EJ Victory </b>
                          </br>
                          Height: 5'8
                          </br>
                          Position: Guard
                          </br>
                          High School: Grand Rapids Christian (GR, MI)
                          </br>
                          AAU: MBA Fury
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("tommygreg.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Tommy Gregwerth</b>
                          </br>
                          High School:Grandville (Grand Rapids, MI)
                          </br>
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("jullianbrown.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Jillian Brown</b>
                          </br>
                          Height: 5'10
                          </br>
                          Position: Guard
                          </br>
                          High School: '21
                          </br>
                          AAU: MBA
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("oliviabrown.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Olivia Brown</b>
                          </br>
                          Height: 5'8
                          </br>
                          Position: Guard
                          </br>
                          High School: '19
                          </br>
                          AAU: MBA
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("ebustos.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Elijah Bustos</b>
                          </br>
                          Position: Guard
                          </br>
                          HMiddle School: Vale MS
                          </br>
                          AAU: HD Toros
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("islander.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Aiden Islanders </b>
                          </br>
                          Position: Guard
                          </br>
                          AAU: SA Islanders
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("boyd.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Devon Boyd</b>
                          </br>
                          Age: 16
                          </br>
                          Position: Guard
                          </br>
                          High School: Catholic Central '20
                          </br>
                          AAU: MBA Fury
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("bellatovar.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Bella Tovar</b>
                          </br>
                          Height: 5'8
                          </br>
                          Age: 19
                          </br>
                          Position: Guard
                          </br>
                          High School: Judson HS
                          </br>
                          College: Houston Baptist University ‘20
                          </br>
                          AAU: SA Islanders
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("cindysi.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Cindy Si</b>
                          </br>
                          Height: 5'10
                          </br>
                          Age: 19
                          </br>
                          Position: Guard/Wing
                          </br>
                          High School: randeis HS
                          </br>
                          College: MIT
                          </br>
                          AAU: SA Islanders
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("mattb.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Matt Beachler</b>
                          </br>
                          Height: 6'5
                          </br>
                          Age: 18
                          </br>
                          Position: Guard
                          </br>
                          High School: Lowell HS (Michigan)
                          </br>
                          College: Central Michigan
                          </br>
                          AAU: The Family
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("brickman.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>Jason Brickman</b>
                          </br>
                          Height: 5'10
                          </br>
                          Age: 25
                          </br>
                          Position: Guard
                          </br>
                          High School: Clark High School
                          </br>
                          College: CLong Island University Brooklyn (2nd All Time NCAA D1 Assist Leader)
                          </br>
                          Pro: Philippines Pro
                          </br>
                          Pro: TBSL Pro (Thailand)
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("escobar.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>PJ Escobar</b>
                          </br>
                          Height: 5'9
                          </br>
                          Age: 19
                          </br>
                          Position: Guard
                          </br>
                          High School: Central Catholic '15
                          </br>
                          College: OLLU (Our Lady of the Lake University)
                          </br>
                          AAU: HD Toros
                        </div>
                      </div>
                    </div>
                  </br>
                  </br>
                    <div class="athlete-box">
                      <div class="row">
                        <div class="col-sm-6" style="padding-top:5%;text-align:center;">
                            <%= image_tag("mendoza.png", style: "height:280px") %>
                        </div>
                        <div class="col-sm-6" style="padding-top:5%;">
                          <b>AJ Mendoza</b>
                          </br>
                          Age: 24
                          </br>
                          Position: Guard
                          </br>
                          High School: Carrizo Springs '11
                          </br>
                          College: Northwest Vista
                          </br>
                          AAU: Rip City)
                        </div>
                      </div>
                    </div>
                  </br>

                  </div>
								</article>
								<div class="row 150%">
								</div>
						 </div>
					</div>
				</div>

			<!-- Highlights
				<div class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div> -->

			<!-- Footer -->
      <!-- Footer -->
      <div id="footer-wrapper" class="wrapper">
        <div class="title">Contact</div>
        <div id="footer" class="container">
          <div class="row 150%">
            <div class="12u 12u(mobile)">

              <!-- Contact -->
                <section class="feature-list small">
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-home">Mailing Address</h3>
                        <p>
                          511 W. Kings Hwy<br />
                          Heart Over Height Training<br />
                          San Antonio, Texas 78212
                        </p>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-comment">Social</h3>
                        <p>
                          <div id="twitter-timeline" style="max-height:300px;max-width:300px;overflow: scroll;">
                            <a class="twitter-timeline" href="https://twitter.com/ezgarcia10" data-width="300px">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
                        </p>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-envelope">Email</h3>
                        <p>
                          <%= mail_to('ezghoht@gmail.com') %>
                        </p>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-phone">Phone</h3>
                        <p>
                          Business: (210) 445-9121
                        </p>
                      </section>
                    </div>
                  </div>
                </section>
            </div>
          </div>
          <hr />
        </div>
        <div id="copyright">
          <ul>
            <li>&copy; Heart Over Height Training</li>
          </ul>
        </div>
      </div>
          </div>
</div>
