<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li class="active">
            <%= link_to 'Our Team', team_path %>
          </li>
          <li>
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li>
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li>
            <%= link_to 'Contact Us', contacts_path %>
          </li>
          <li>
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">

								<p>Meet Our Staff</p>
							</div>
					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style1">
					<div class="title">About Me</div>
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Israel “EZ”  Garcia</h2>
									</header>
                  <center>
								    <%= image_tag("aboutme-shooting.jpg", style: "width:20%") %>
                  </center>
                  <br>
                  <p>Garcia is an All Sport Fitness trainer who resides in San Antonio, Texas. Garcia is from
                    Cotulla, Texas, a small town near the border of Texas and Mexico.  His goal and mission is to teach
                    his clients several special techniques that he has acquired over the years. Garcia’s knowledge comes
                    from numerous sources such, as certification classes, various camps, training with
                    overseas players/nba skill trainers, and personal experience throughout high school &
                    collegiate careers. He looks to instill athletes with the motivation to want to improve and to
                     never become content, with hard work and dedication. Garcia takes great pride in building a
                    personal relationship with each and every one of his athletes and clients by being a mentor to them.
                    He is successful in this through his understanding of Psychology and teaches them how to be
                     successful both on and off the court.
                    A main aspect of Garcia’s training is helping athletes to gain the necessary confidence to become
                    successful, so that when times are tough or a task seems too difficult they can believe in themselves
                    even when no one else does. EZ specializes in weight training, speed, agility, ball handling, shooting,
                    and how to be successful as an undersized point guard, lead off hitter and fielder, and how to catch the
                     football and avoid tacklers through various cuts.  Garcia’s passion for sports started at an early age
                     and he has been working to become the best he can be ever since. He takes tremendous pride in
                    conditioning and working hard to achieve all his goals, and expects his clients to do the same.
                     EZ Garcia is a young motivated trainer who will take your game to the next level as he can connect
                     with ALL athletes and clients making him a one of a kind all around trainer…
                   </p>


								</article>
								<div class="row 150%">
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>Camps Attended</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
											<ul>
                        <li>University Of Incarnate Word </li>
                        <li>Don Eddy Camp of Champ </li>
                        <li>Kobe Skills Academy</li>
                        <li>Antonio Daniels Camp </li>
                        <li>Offense-Defense – Football Camp</li>
                      </ul>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>Basketball</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
											<ul>
                        <li>National 3 Point Champion  </li>
                        <li>4 years Varsity Starter </li>
                        <li>Newcomer of the Year 2007 </li>
                        <li>1st Team All-District 2008 </li>
                        <li>SA Express Player of the week </li>
                        <li>2009  First Team All-District</li>
                        <li>2010  Offensive Player of the Year </li>
                        <li>2010 Bi-District Champs 2010 Area Finalist</li>
                        <li>2010  National Scoring Champ</li>
                        <li>2010  State Scoring Champ </li>
                      </ul>
                      <header>
												<h2>Baseball</h2>
											</header>
                      <ul>
                        <li>First Team All District</li>
                      </ul>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>2010 : 17 High School Records</h2>
											</header>
                      <ul>
                        <li>Season Scoring Average - 36.2 ppg</li>
                        <li>Points in a Season - 1,036</li>
                        <li>3 Pointers Made in a Season- 120</li>
                        <li>Free Throws Made in a Season - 293</li>
                        <li>Steals - 171 </li>
                        <li>Assists - 197</li>
                        <li>Free Throw Percentage - 85%</li>
                        <li>Points in a Tournament - 139(4 Games)</li>
                        <li>Points in a Game - 59 points</li>
                        <li>Points in a Half - 32 </li>
                        <li>Points in a Quarter - 24 </li>
                        <li>Free Throws in a Game - 19</li>
                        <li>3 Pointers Made in a Game - 11</li>
                        <li>3 Pointers Made in a Quarter- 6</li>
                        <li>Steals in a Game - 11</li>
                        <li>Assists in a Game - 14</li>
                      </ul>
										</section>
									</div>
								</div>
                <div class="row 150%">
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>Football</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
											<ul>
                        <li>3 Years Varsity  </li>
                        <li>1st Team All District</li>
                        <li> 2nd Team All District </li>
                        <li> Bi-District Champs 2007</li>
                        <li>Area Champs 2007 </li>
                        <li>Regional Champs 2007</li>
                        <li> State Semi-Finalist 2007 </li>
                        <li>Bi District Finalist 2008</li>
                        <li> District Runner Up 2009 </li>
                        <li>Bi-District Champs 2009  </li>
                        <li>Area Champs 2009  </li>
                        <li>Regional Champs 2009  </li>
                        <li>State Semi-Finalist 2009 </li>
                      </ul>
										</section>
									</div>
									<div class="8u 12u(mobile)">
										<section class="box">
											<header>
												<h2>College</h2>
											</header>
											<p><b>2014-15:</b> Saw action in 24 games for Wells, shooting .326 (44-for-135) from the floor while converting 53-of-70
                        chances at the charity stripe...Averaged 2.8 rebounds per game and posted 34 assists along with 33 steals, leading
                         the team in the latter statistics...Averaged 6.7 points per game, ranking fourth amongst all players...Posted
                         seven rebounds against Alfred on Nov. 19...Tallied 14 points against Penn St.-Abington on Jan. 18...Posted a
                         season-best 23 points against Keuka on Jan. 28, shooting 6-for-11 from the field while adding 9-of-10 free
                         throws...Followed with 13 points and seven rebounds against Cazenovia the next game on Jan. 31...Posted 21
                         points against Cobleskill St. on Feb. 20 and 18 points in the season finale against SUNY Poly on Feb. 21, pouring
                         home 11-of-14 free throws...Had five assists against Cazenovia on Jan. 31...Had five steals in one game twice,
                         first against Penn St.-Abington on Jan. 18 and most recently against Penn College on Feb. 14...Started the final
                         12 games of his career.
                      </p>
                      <p><b>2013-14:</b> Returned to Wells to play in 22 games as a junior, averaging four points per game...Bombed 15 three-pointers,
                         tying for third place on the team...Tallied 13 points against Cobleskill St. on Dec. 7, pouring home three
                         three-pointers...Struck for 11 points against Gallaudet on Jan. 12, using five foul shots and two three-pointers...Recorded
                         at least one "three" in four-straight games from Jan. 14 through Jan. 20.
                      </p>
                      <p><b>2012-13 (HARDIN-SIMMONS): </b>Transferred to Hardin-Simmons, playing in 23 games...Averaged 1.2 points per game,
                        shooting .278 from the field...Scored a season-high six points against Sul Ross State on Feb. 7...Played against Division
                        I Sam Houston State on Nov. 13 and against Baylor on Jan. 19.
                      </p>
                      <p><b>2010-11:</b> Averaged 5.9 points per game as a freshman for the Express...Made collegiate debut at Hartwick on Nov.
                        15...Scored a season-best 13 points against Gallaudet on Dec. 4...Added 11 points against Keuka on Dec. 7...Had three steals
                        against Me.-Farmington on Nov. 20 and against Keuka on Dec. 7...Had five rebounds against Gallaudet on Dec. 4.
                      </p>
                      <p><b>PRIOR TO WELLS:</b> 2011 graduate of Cotulla HS...Played football, ran track and was a member of the baseball and
                        basketball teams for the Cowboys...Was the 2010 Player of the Year...Was All-State in 2010 in football...Was the 2010
                        National Scoring Champion with 36.9 points per game...Was a 2010 State Scoring Champion...Holds 17 High School records.
                      </p>
                      <p><b>PERSONAL:</b> Son of Sonia Marines...Brother of Tonito, Lucinda, and Imelda, Victor and Adrian...Psychology major...Spanish
                         minor...Aspires to coach and train athletes after opening a gymnasium.
                      </p>
										</section>
									</div>
								</div>
							</div>

					</div>
				</div>

			<!-- Highlights
				<div class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div> -->

			<!-- Footer -->
      <!-- Footer -->
              <div id="footer-wrapper" class="wrapper">
                <div class="title">Contact</div>
                <div id="footer" class="container">
                  <div class="row 150%">
                    <div class="12u 12u(mobile)">

                      <!-- Contact -->
                        <section class="feature-list small">
                          <div class="row">
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-home">Mailing Address</h3>
                                <p>
                                  Heart Over Height Training<br />
                                  San Antonio, Texas
                                </p>
                              </section>
                            </div>
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-comment">Social</h3>
                                <p>
                                  <a href="#">@untitled-corp</a><br />
                                  <a href="#">linkedin.com/untitled</a><br />
                                  <a href="#">facebook.com/untitled</a>
                                </p>
                              </section>
                            </div>
                          </div>
                          <div class="row">
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-envelope">Email</h3>
                                <p>
                                  <%= mail_to('ezghoht@gmail.com') %>
                                </p>
                              </section>
                            </div>
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-phone">Phone</h3>
                                <p>
                                  (210) 445-9121
                                </p>
                              </section>
                            </div>
                          </div>

                        </section>

                    </div>
                  </div>
                  <hr />
                </div>
                <div id="copyright">
                  <ul>
                    <li>&copy; Heart Over Height Training</li>
                  </ul>
                </div>
              </div>
          </div>
</div>
