<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'About Me', about_path %>
          </li>
          <li class="active">
            <%= link_to 'Our Team', team_path %>
          </li>
          <li>
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li>
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li>
            <%= link_to 'Blog', blog_path %>
          </li>
          <li>
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">


					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div id="main" class="container">
						<!-- Content -->
							<div id="content">
								<article class="box post">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-2" style="padding-top:5%;">
                          <%= image_tag("cherry.png", class: "max-cherry-pic") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Max Cherry</b>
                        </br>
                        Head Soccer Coach
                        </br>
                        Chief Marketing Officer
                        </br>
                        Burgen County, New Jersey
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i>Max graduated from Wells College in Aurora, N.Y. with a B.A. in Media Studies with minors in Business and Sport Management. A two-time North Eastern Athletic Conference selection as a forward, he finished his collegiate career as the all-time gamewinning goalscorer with 10 gamewinners as well as second all-time in points (17 goals+9 assists for 43 points). Max spent a semester abroad studying at the University of York in England where he played for York's Men's Football (Soccer) team, where he finished top scorer on his college's team with 23 goals. He was also selected in the Nouse College Cup Fantasy Best XI with 5 goals in 6 cup matches. An expert in the field of social media marketing, integrated communications, strategic public relations and multimedia video design, Max is currently pursuing a master's degree in Strategic Communication. Max has been on board with HOHT since its creation and has been an integral part of the early brand management. Max resides in Bergen County, New Jersey which is about 15 minutes from NYC.</i></p>
                        </div>
                      </div>
                      <div class="col-sm-4">

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("maurovaldez.JPG", style: "width:98%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Mauro Valdez</b>
                        </br>
                        Assistant Soccer Coach and Trainer
                        </br>
                        San Antonio, Texas

                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <p><i>Regional attorney for Texas Department of Family and Protective Servcies. Studied undergrad at Angelo State University where he ran cross country. Went on to recieve his law degree from Thurgood Marshall University.</i></p>
                      </div>
                      <div class="col-sm-4">

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("simmons.jpg", style: "width:98%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Shakeel Simmons</b>
                        </br>
                        Basketball & Fitness Trainer
                        </br>
                        RED Agency Model
                        </br>
                        Long Island, New York

                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i> Simmons played 2 seasons at SUNY Delhi where they won the conference title both seasons.  Transferred to Wells where he started & played his final two seasons.  Graduated with a degree in Psychology with a minor in Business.  Is now co-owner of Phlick Booths in NYC.  Shak is somone who can transform your game, along with your body, through his workout regime.</i></p>
                        </div>
                      </div>
                      <div class="col-sm-4">

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("hurtado.jpg", style: "width:98%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Jonathon "Noni" Hurtado</b>
                        </br>
                        Fitness Trainer & Model
                        </br>
                        Jump Specialist
                        </br>
                        Harlem, New York
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i>Played 2 seasons at SUNY Delhi before transferring to Wells College where he was the teams captain & starting guard for his Junior & Senior year.  Averaged over 14 ppg for his career & was named to the all conference team.  Noni Hurtado is a high flyer who can increase your vertical within several weeks through his elite jumping workouts.  Is known in Harlem as "FLY HIGH NONI" as he has won multiple dunk contests & featured in magazines. Is also an uprising model for several agency's & clothing companies. </i></p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("benito.png", style: "width:80%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Benito Perez</b>
                        </br>
                        Assistant Skills Training Coach
                        </br>
                        Crystal City, Texas
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i> Was a 3 sport star athlete for the Crystal City Javalinas.  Played & started guard as a freshman at Wells College during his only college season.  Helped Wells win the NEAC title that year scoring 27 points in the Conference Semi-Final game.  Was the best shooter on the team that year, pouring in multiple 3 pointers per game & often guarding the best guard. Transferred to UTSA where he received his Bachelors in Sociology.  Is an excellent workout partner & will be a great coach in the future. Camp &amp; Assistant Skills Coach
                        </i></p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("lucinda.jpg", style: "width:80%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Lucinda Valdez</b>
                        </br>
                        Business Consultant
                        </br>
                        San Antonio, Texas
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i> Lucinda Valdez is a graduate of Cotulla HS.  Received her Bachelor's of Arts in Sociology & Politcal Science at Our Lady of the Lake University with honors.  Went to Thurgood Marshall Law Schoool & opened up her own law firm before becoming an attourney for Child Protective Services in San Antonio, Texas. </i></p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("gabeolivares.jpg", class:"gabe-olivares-pic") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Gabriel Olivares</b>
                        </br>
                        Software Engineer
                        </br>
                        Chief Technology Officer
                        </br>
                        Austin, Texas

                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i>Website developer and assistant coach for football workouts and clinics. Majored in Computer Science at St. Edward's University. Helped lead St. Theresa's Catholic School 7th-8th grade flag football team to the 2016 league championship game in his first season as a coach. Played 1 season of collegiate football at University of Mary Hardin-Baylor. 3 year football letterman at Central Catholic High School in San Antonio, Texas earning All-State and All-District honors.</i></p>
                        </div>
                      </div>
                      <div class="col-sm-4 linkedin-mobile">
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/gabriel-olivares-22a3086a" data-format="inline" data-related="false"></script>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("chris.jpg", style: "width:150px") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Chris Rodriguez</b>
                        </br>
                        Football & Basketball Assistant Coach
                        </br>
                        Austin, Texas
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i>Graduated from The University of Texas at Austin with a degree in Exercise Science/Pre-Med, minor in Biology, and a specialization in Health Sciences. Helped lead St. Theresa's Catholic School 7th-8th grade flag football team to the 2016 league championship game in his first season as a coach. 3 year football letterman playing quarterback and wide receiver, earning All-District honors at wide receiver, and 2 year basketball letterman playing small/power forward at Central Catholic High School in San Antonio, Texas.  </i></p>
                        </div>
                      </div>
                      <div class="col-sm-4 linkedin-mobile">
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/chris-rodriguez-763a98115" data-format="inline" data-related="false"></script>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("tanis.JPG", style: "width:80%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Tanis Lopez</b>
                        </br>
                        Head Tennis Instructor
                        </br>
                        San Antonio, Texas
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i> Was the best tennis player to ever come out of Carrizo Springs, Texas.  Went on to play four collegiate seasons at OLLU in San Antonio, Texas.  Was apart of the men's tennis program first ever NAIA regional championship team.  Is an elite tennis instructor who has the knowledge and skills to increase your game in a short amount of time.</i></p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("Kristen.png", style: "width:80%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Kristen Labuhn</b>
                        </br>
                        Head Softball Instructor
                        </br>
                        Houston, Texas/ Anjo, Aichi, Japan
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i> Kristen is a graduate of Pearsall High School where she lettered in Basektball, Volleyball, Cheerleading, & Softball.  Was MVP for softball & graduated #3 in her class.  One of the best softball players to come out of South Texas. Received a full ride & went on to play at Texas A&M International University.  Started nearly all games for the Lady Dustdevils.  Is currently in Japan working for AEON Corporation.</i></p>
                        </div>
                      </div>
                      <div class="col-sm-4 linkedin-mobile">
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/kristen-labuhn-9219ba85" data-format="inline" data-related="false"></script>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <%= image_tag("rebecca.jpg", style: "width:80%") %>
                      </div>
                      <div class="col-sm-2" style="padding-top:5%;">
                        <b>Rebecca Lynn Gomez</b>
                        </br>
                        Business Consultant
                        </br>
                        Austin, Texas
                      </div>
                      <div class="col-sm-4" style="text-align:center;">
                        <div style="overflow-y: scroll; height:200px;">
                          <p><i>Graduate of The University of Texas at Austin with a Bachelors of Science in architectural engineering and Business Foundations Certificate through the McCombs School of Business.  Helps make financial & business decisions for the sports training company.  Is in charge of helping Owner Garcia manage his summer training camp schedules. </i></p>
                        </div>
                      </div>
                      <div class="col-sm-4 linkedin-mobile">
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/rebeccalynngomez" data-format="inline" data-related="false"></script>
                    </div>
                  </div>
								</article>
							</div>
					</div>
				</div>

			<!-- Highlights
				<div class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div> -->

			<!-- Footer -->
      <!-- Footer -->
      <div id="footer-wrapper" class="wrapper">
        <div class="title">Contact</div>
        <div id="footer" class="container">
          <div class="row 150%">
            <div class="12u 12u(mobile)">

              <!-- Contact -->
                <section class="feature-list small">
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-home">Mailing Address</h3>
                        <p>
                          511 W. Kings Hwy<br />
                          Heart Over Height Training<br />
                          San Antonio, Texas 78212
                        </p>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-comment">Social</h3>
                        <p>
                          <div id="twitter-timeline" style="max-height:300px;max-width:300px;overflow: scroll;">
                            <a class="twitter-timeline" href="https://twitter.com/ezgarcia10" data-width="300px">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
                        </p>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-envelope">Email</h3>
                        <p>
                          <%= mail_to('ezghoht@gmail.com') %>
                        </p>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <h3 class="icon fa-phone">Phone</h3>
                        <p>
                          Business: (210) 445-9121
                        </p>
                      </section>
                    </div>
                  </div>
                </section>
            </div>
          </div>
          <hr />
        </div>
        <div id="copyright">
          <ul>
            <li>&copy; Heart Over Height Training</li>
          </ul>
        </div>
      </div>
          </div>
</div>
