<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'About Me', about_path %>
          </li>
          <li>
            <%= link_to 'Our Team', team_path %>
          </li>
          <li>
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li class="active">
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li>
            <%= link_to 'Blog', blog_path %>
          </li>
          <li>
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">


							</div>
					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style1">
					<div id="main" class="container" style="margin-top:-20px;">
						<!-- Content -->
							<div id="content">
								<article class="box post">
                  <br>
                  <center>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-4">
                          <h3>Personal Training:</h3>
                          <ul>
                            <li>Individual $60</li>
                            <li>Small Group (2-10 players) $30</li>
                            <li>Large Group (10+ players) $20</li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <h3>Two Day Mini Camp: (Cover Traveling Fee)</h3>
                          <ul>
                            <li>8 hours work</li>
                            <li>$75 a player</li>
                            <li>15 kids minimum</li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <h3>Three Day Mini Camp: </br>(Cover Traveling Fee)</h3>
                          <ul>
                            <li>12 hours work</li>
                            <li>$100 a player</li>
                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <h3>Team Camp:</h3>
                          <ul>
                            <li>(Strength &amp; Conditioning, Mental Toughness Teamwork, Skill Work, Footwork, Ball Handling, Shooting, Competitions) </br>3-5 Days ($150-250 a player)</li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <h3>Private Small Group:</h3>
                          <ul>
                            <li>12 Players Max</li>
                            <li>90 minute workouts 2-3x Per Week</li>
                            <li>(Intended for Off/Pre Season or Skill Development Program) </li>
                            <li>Price depends on number of athletes</li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <h3>Team Practice:</h3>
                          <ul>
                            <li>90 min Practice $100</li>
                            <li>(Offense, Defense, Conditioning, Skill Work, Footwork)</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <%= image_tag("videos-home.JPG", style: "width:95%") %>
                      </div>
                      <div class="col-sm-4">
                        <h3>HOHT Complete Player Package:</h3>
                        <ul>
                          <li>20 workouts for $500</li>
                          <li>LIMITED TO 25 PLAYERS</li>
                          <li>($250 upfront or paid in full. $500 must be paid within first 2 weeks)</li>
                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <%= image_tag("featured-ath-home.jpg", style: "width:95%") %>
                      </div>
                    </div>
                  </center>

								</article>
								<div class="row 150%">
								</div>
						 </div>
					</div>
				</div>

			<!-- Highlights
				<div class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div> -->

			<!-- Footer -->
      <!-- Footer -->
              <div id="footer-wrapper" class="wrapper">
                <div class="title">Contact</div>
                <div id="footer" class="container">
                  <div class="row 150%">
                    <div class="12u 12u(mobile)">

                      <!-- Contact -->
                        <section class="feature-list small">
                          <div class="row">
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-home">Locations</h3>
                                <p>
                                  511 W. Kings Hwy<br />
                                  Heart Over Height Training<br />
                                  San Antonio, Texas 78212
                                </p>
                              </section>
                            </div>
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-comment">Social</h3>
                                <p>
                                  <div id="twitter-timeline" style="max-height:300px;max-width:300px;overflow: scroll;">
                                    <a class="twitter-timeline" href="https://twitter.com/ezgarcia10" data-width="300px">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </div>
                                </p>
                              </section>
                            </div>
                          </div>
                          <div class="row">
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-envelope">Email</h3>
                                <p>
                                  <%= mail_to('ezghoht@gmail.com') %>
                                </p>
                              </section>
                            </div>
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-phone">Phone</h3>
                                <p>
                                  Business: (210) 445-9121
                                </p>
                              </section>
                            </div>
                          </div>
                        </section>
                    </div>
                  </div>
                  <hr />
                </div>
                <div id="copyright">
                  <ul>
                    <li>&copy; Heart Over Height Training</li>
                  </ul>
                </div>
              </div>
          </div>
</div>
