<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Our Team', team_path %>
          </li>
          <li>
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li>
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li class="active">
            <%= link_to 'Blog', blog_path %>
          </li>
          <li >
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">

							</div>
					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style1">
					<div id="main" class="container">

						<!-- Content -->
							<div id="content" style="margin-top:-5%">
								<article class="box post">
                  <center>
                    <p>
                      <a href="https://docs.google.com/document/d/1wnaAYtwSETq4B3V4pMyotgBzoxBGNqVF3mkT2mfFJgs/edit?usp=sharing" target="_blank">
                        <h2> &#9679; Wells College Senior Year Thesis</h2>
                      </a>
                    </p>
                  </center>                  
								</article>
								<div class="row 150%">
								</div>
						 </div>
					</div>
				</div>

			<!-- Highlights
				<div class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div> -->

			<!-- Footer -->
      <!-- Footer -->
              <div id="footer-wrapper" class="wrapper">
                <div class="title">Contact</div>
                <div id="footer" class="container">
                  <div class="row 150%">
                    <div class="12u 12u(mobile)">

                      <!-- Contact -->
                        <section class="feature-list small">
                          <div class="row">
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-home">Mailing Address</h3>
                                <p>
                                  Heart Over Height Training<br />
                                  San Antonio, Texas
                                </p>
                              </section>
                            </div>
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-comment">Social</h3>
                                <p>
                                  <a href="#">@untitled-corp</a><br />
                                  <a href="#">linkedin.com/untitled</a><br />
                                  <a href="#">facebook.com/untitled</a>
                                </p>
                              </section>
                            </div>
                          </div>
                          <div class="row">
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-envelope">Email</h3>
                                <p>
                                  <%= mail_to('ezghoht@gmail.com') %>
                                </p>
                              </section>
                            </div>
                            <div class="6u 12u(mobile)">
                              <section>
                                <h3 class="icon fa-phone">Phone</h3>
                                <p>
                                  (210) 445-9121
                                </p>
                              </section>
                            </div>
                          </div>

                        </section>

                    </div>
                  </div>
                  <hr />
                </div>
                <div id="copyright">
                  <ul>
                    <li>&copy; Heart Over Height Training</li>
                  </ul>
                </div>
              </div>
          </div>
</div>
