<!-- Nav -->
<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-custom" style="width:45px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-custom">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li class="active">
            <%= link_to 'About Me', team_path %>
          </li>
          <li>
            <%= link_to 'Our Team', team_path %>
          </li>
          <li>
            <%= link_to 'Featured Athletes', athletes_path %>
          </li>
          <li>
            <%= link_to 'Workout and Prices', prices_path %>
          </li>
          <li>
            <%= link_to "Videos", videos_path %>
          </li>
          <li>
            <%= link_to 'Blog', blog_path %>
          </li>
          <li>
            <%= link_to 'Merchandise', merchandise_path %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">
					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style1">
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Israel “EZ”  Garcia</h2>
									</header>
                  <center>
                      <%= image_tag("aboutme-shooting.jpg", style: "width:25%") %>
                      <%= image_tag("aboutme-dribble.png", style: "width:33%") %>
                  </center>
                  <br>
                  <p>Originally from the small town of Cotulla, Texas near the Texas/Mexico border, Garcia is an All Sport Fitness
                    trainer who currently resides in San Antonio, Texas. Garcia’s passion for sports started at an early age and he has
                     been working to become the best he can be ever since. After graduating from Cotulla High School in 2010, he spent
                     the next four years studying psychology and playing basketball at the collegiate level. His goal and mission is to
                     pass on various techniques he has acquired over the years to his clients. Garcia has acquired his knowledge from
                     certification classes, numerous sport camps, training with overseas basketball players and NBA skill trainers, and
                     his own personal experiences throughout his successful high school and collegiate careers. He aims to instill athletes
                      with the motivation for improvement with hard work and dedication and to teach them to never settle or become content.
                       He is able to achieve this by using what he has learned through his study of sports psychology and believes his
                       methods teach athletes how to be successful both on and off the court.  An important aspect of Garcia’s training
                       is helping athletes gain the necessary confidence and mental toughness so that when a task seems too difficult they
                       can believe in themselves even when no one else will. EZ specializes in weight training, speed, agility, ball handling,
                       shooting, and how to be successful as an undersized point guard. He is also competent in how to be a lead off hitter
                       and fielder and how to catch the football and avoid tacklers through various cuts. He takes tremendous pride in
                       conditioning and working hard to achieve all his goals and expects his clients to do the same. EZ Garcia is a young
                        motivated trainer who will take your game to the next level as he can connect with ALL athletes and clients making
                        him one of a kind all around trainer.
                   </p>


								</article>
								<div class="row 150%">
									<div class="4u 12u(mobile)">
										<section class="box">
											<header style="text-align:center;">
												<h2>Camps Attended</h2>
											</header>
											<ul style="text-align:center;">
                        <%= image_tag("kobe1.jpg", style: "width:40%") %>
                        <%= image_tag("kobe2.jpg", style: "width:40%") %>
                        <li>Kobe Skills Academy</li>
                        <li>University Of Incarnate Word </li>
                        <li>Don Eddy Camp of Champ </li>
                        <li>Antonio Daniels Camp </li>
                        <li>Trinity University</li>
                        <li>Nike Skills Camp</li>
                        <li>Point Guard College</li>
                        <br>
                        <%= image_tag("ezcamps.jpg", style: "width:75%") %>
                      </ul>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header style="text-align:center;">
												<h2>Basketball</h2>
											</header>
											<ul style="text-align:center;">
                        <%= image_tag("ezbasketball.jpg", style: "width:90%") %>
                        <li>National 3 Point Champion  </li>
                        <li>4 years Varsity Starter </li>
                        <li>Newcomer of the Year 2007 </li>
                        <li>1st Team All-District 2008 </li>
                        <li>SA Express Player of the week </li>
                        <li>2009  First Team All-District</li>
                        <li>2010  Offensive Player of the Year </li>
                        <li>2010  Bi-District Champs </li>
                        <li>2010  Area Finalist</li>
                        <li>2010  National Scoring Champ</li>
                        <li>2010  State Scoring Champ </li>
                      </ul>
                      <header style="text-align:center;">
                        <h2>Track</h2>
                      </header>
                      <ul style="text-align:center;">
                        <li>2007 400 M Relay Regional Qualifier</li>
                        <li>2007 1600 M Relay Regional Qualifier</li>
                        <li>2008 1600M Relay Regional Qualifier</li>
                        <li>2008 400M Relay Regional Qualifier</li>
                        <li>2009 1600M Relay District Runner Up</li>
                        <li> 2009 1600M Relay Regional Runner Up</li>
                        <li> 2009 1600M Relay State Qualifiers</li>
                        <li> 2009 400M Regional </li>
                        <li> 2009 State Qualifier</li>
                        <li>2010 800M Relay Regional Qualifier</li>
                      </ul>
                      <header style="text-align:center;">
                        <h2>Baseball</h2>
                      </header>
                      <ul style="text-align:center;">
                        <li>2x First Team All District</li>
                      </ul>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header style="text-align:center;">
												<h2>2010 : 17 High School Records</h2>
											</header>
                      <ul style="text-align:center;">
                        <%= image_tag("ezrecord.jpg", style: "width:60%") %>
                        <li>Season Scoring Average - 36.2 ppg</li>
                        <li>Points in a Season - 1,036</li>
                        <li>3 Pointers Made in a Season- 120</li>
                        <li>Free Throws Made in a Season - 293</li>
                        <li>Steals - 171 </li>
                        <li>Assists - 197</li>
                        <li>Free Throw Percentage - 85%</li>
                        <li>Points in a Tournament - 139(4 Games)</li>
                        <li>Points in a Game - 59 points</li>
                        <li>Points in a Half - 32 </li>
                        <li>Points in a Quarter - 24 </li>
                        <li>Free Throws in a Game - 19</li>
                        <li>3 Pointers Made in a Game - 11</li>
                        <li>3 Pointers Made in a Quarter- 6</li>
                        <li>Steals in a Game - 11</li>
                        <li>Assists in a Game - 14</li>
                      </ul>
										</section>
									</div>
								</div>
                <div class="row 150%">
									<div class="4u 12u(mobile)">
										<section class="box">
											<header style="text-align:center;">
												<h2>Football</h2>
											</header>
											<ul style="text-align:center;">
                        <%= image_tag("footballez.jpg", style: "width:95%") %>
                        <%= image_tag("ezfootball1.jpg", style: "width:95%") %>
                        <li>3 Years Varsity  </li>
                        <li>1st Team All District</li>
                        <li> 2nd Team All District </li>
                        <li> Bi-District Champs 2007</li>
                        <li>Area Champs 2007 </li>
                        <li>Regional Champs 2007</li>
                        <li> State Semi-Finalist 2007 </li>
                        <li>Bi District Finalist 2008</li>
                        <li>2008 2nd Team All District Running Back</li>
                        <li>2008 2nd Team All District DB</li>
                        <li>2008 TAPPS 5A Newcomer of the Year </li>
                        <li>2008 Honorable Mention All State</li>
                        <li> District Runner Up 2009 </li>
                        <li>Bi-District Champs 2009  </li>
                        <li>Area Champs 2009  </li>
                        <li>Regional Champs 2009  </li>
                        <li>State Semi-Finalist 2009 </li>
                        <li>THSFCA All State 2010 </li>
                        <li>7 on 7 Intramural Champions</li>
                        <br>
                        <%= image_tag("ezshooting.png", style: "width:80%;") %>
                      </ul>

										</section>
									</div>
									<div class="8u 12u(mobile)">
										<section class="box college-career">
											<header>
												<h2>College</h2>
											</header>
											<p><b>2014-15:</b>
                        Returned for his final season & saw action in 24 games for Wells, Averaged 7.9 points per game, ranking fourth amongst all players. Averaged 3.8 rebounds per game posted 54 assists along with 43 steals, leading the team in the latter statistics. Posted a season-best 23 points against Keuka on Jan. 28, shooting 6-for-11 from the field while adding 9-of-10 free throws & hitting 5 3’s ... Followed with 13 points, seven rebounds, 5 assists & 5 steals against Cazenovia the next game on Jan. 31...Posted 21 points against Cobleskill St. on Feb. 20 with 6 assists & 5 steals and 18 points in the season finale against SUNY Poly on Feb. 21, pouring home 11-of-14 free throws with 3 3’s... Had five steals in one game four times. Finished his senior season starting point guard the final 12 games of his career.
                      </p>
                      <p><b>2013-14:</b>
                        Returned to Wells to play in 18 games as a junior, averaging four points ppg, three assists, and one steal...Bombed in 19 three-pointers, tying for third place on the team... Recorded at least one "three" in five-straight games.  Was sidelined majority of year due to off court issue.
                      </p>
                      <p><b>2012-13 (HARDIN-SIMMONS): </b>
                        Transferred to Hardin-Simmons University in Abilene, Texas where he played in 21 games for the Cowboys under Head Coach Craig Carse. Came off the bench behind starting guards Eric Taylor & Darius Singletary.  Played in the ASC one of the best D III conferences in the nation, but also against Division I schools Abilene Christian, Sam Houston State, & Baylor University.  One of the best and most talented team he was apart of in his 5 years of collegiate play.
                      </p>
                      <%= image_tag("ezvic.jpg", style: "width:45%") %>
                      <p><b>2011-12 (Victoria College): </b>
                        Was a member of the Victoria College Pirates where he started at the point guard position under Jona Anderson.  Helped lead the Pirates to the league Championship. Averaged 18 ppg, 6.4 assist, 2.1 steals, and 3 rebounds.  Played with members Donte McGee & Carlos Cortez who went on the transfer to Texas Lutheran University.
                      </p>
                      <%= image_tag("wellsfresh.jpg", style: "width:45%") %>
                      <p><b>2010-11:</b> Averaged 5.9 points per game as a freshman for the Express...Made his collegiate debut at Hartwick on Nov. 15. Started several games for the Express with longtime best friend Benito Perez of Crystal City, Texas.  Wells College went on to win the NEAC Conference Championship that year. First conference title in school history.
                      </p>
                      <p><b>PRIOR TO WELLS:</b> 2010 graduate of Cotulla HS...Played football, ran track and was a member of the baseball and basketball teams for the Cowboys...Was the 2010 Player of the Year...Was All-State in 2010 in football...Was the 2010 National Scoring Champion with 36.9 points per game...Was a 2010 State Scoring Champion...Holds 18 High School records for basketball.
                      </p>
                      <p><b>PERSONAL:</b>  Son of Sonia Marines...Brother of Tonito, Lucinda, Imelda, Victor & Adrian. Has his Bachelors Degree in Psychology with a minor in Spanish. Aspires to coach & train athletes after opening a gymnasium some day.  Will attend grad school to receive his Masters in Business Adminstration as he wishes to become an athletic director.
                      </p>
										</section>
									</div>
								</div>
                <div class="row">
									<div class="col-sm-2" style="text-align:center;">
                    <%= image_tag("badge-skill-enhancement.png", style: "width:80%;") %>
                    <h3>SKILL ENHANCEMENT</h3>
                  </div>
                  <div class="col-sm-2" style="text-align:center;">
                    <%= image_tag("badge-athletic-performance-trainer.png", style: "width:80%;") %>
                    <h3>ATHLETIC PERFORMANCE TRAINER</h3>
                  </div>
                  <div class="col-sm-2" style="text-align:center;">
                    <%= image_tag("badge-finishing.png", style: "width:80%;") %>
                    <h3>FINISHING</h3>
                  </div>
                  <div class="col-sm-2" style="text-align:center;">
                    <%= image_tag("badge-playmaker.png", style: "width:80%;") %>
                    <h3>PLAYMAKER</h3>
                  </div>
                  <div class="col-sm-2" style="text-align:center;">
                    <%= image_tag("badge-shooting-form.png", style: "width:80%;") %>
                    <h3>SHOOTING FORM</h3>
                  </div>
                  <div class="col-sm-2" style="text-align:center;">
                    <%= image_tag("badge-ball-handling.png", style: "width:80%;") %>
                    <h3>BALL HANDLING</h3>
                  </div>
                </div>
							</div>

					</div>
				</div>

			<!-- Highlights
				<div class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div> -->

			<!-- Footer -->
      <!-- Footer -->
        <div id="footer-wrapper" class="wrapper">
          <div class="title">Contact</div>
          <div id="footer" class="container">
            <div class="row 150%">
              <div class="12u 12u(mobile)">

                <!-- Contact -->
                  <section class="feature-list small">
                    <div class="row">
                      <div class="6u 12u(mobile)">
                        <section>
                          <h3 class="icon fa-home">Mailing Address</h3>
                          <p>
                            511 W. Kings Hwy<br />
                            Heart Over Height Training<br />
                            San Antonio, Texas 78212
                          </p>
                        </section>
                      </div>
                      <div class="6u 12u(mobile)">
                        <section>
                          <h3 class="icon fa-comment">Social</h3>
                          <p style="text-align:left;">
                            <div id="twitter-timeline" style="max-height:300px;max-width:300px;overflow: scroll;">
                              <a class="twitter-timeline" href="https://twitter.com/ezgarcia10" data-width="300px">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                          </p>
                        </section>
                      </div>
                    </div>
                    <div class="row">
                      <div class="6u 12u(mobile)">
                        <section>
                          <h3 class="icon fa-envelope">Email</h3>
                          <p>
                            <%= mail_to('ezghoht@gmail.com') %>
                          </p>
                        </section>
                      </div>
                      <div class="6u 12u(mobile)">
                        <section>
                          <h3 class="icon fa-phone">Phone</h3>
                          <p>
                            Business: (210) 445-9121
                          </p>
                        </section>
                      </div>
                    </div>
                  </section>
              </div>
            </div>
            <hr />
          </div>
          <div id="copyright">
            <ul>
              <li>&copy; Heart Over Height Training</li>
            </ul>
          </div>
        </div>
          </div>
</div>
